@font-face {
    font-family: "Sofia";
    src: local("Sofia"), url("./fonts/SofiaProSoftMedium.ttf");
}

@font-face {
    font-family: "SofiaRegular";
    src: local("SofiaRegular"), url("./fonts/Fontspring-DEMO-SofiaProSoftLight.otf");
}

body {
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: Sofia;
    color: #696969;
}

.quadradoFundo {
    margin: 22.75px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    width: 205vh;
    height: 95vh;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
    font-family: Sofia;
    color: #696969;
}

.quadradoBranco {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #FAFAFA;
    width: 122.5vh;
    height: 100%;
}

.formClima {
    display: flex;
    align-items: center;
    font-family: Sofia;
    color: #696969;
}

#cityInput {
    background: url("img/pesquisa-de-lupa.png") no-repeat right / 14px;
    background-position: calc(100% - 13px) center;
    background-color: transparent;
    border-radius: 30px;
    height: 25px;
    width: 750px;
    padding-left: 12px;
    padding-bottom: 5.5px;
    border: 1px solid #D9D9D9;
    margin-top: 25px;
    font-family: Sofia;
    font-size: 17px;
    color: #696969;
}

#consultarBotao {
    display: none;
}

#temperatura1 {
    padding-top: 19vh;
    font-size: 130px;
    font-family: Sofia;
}

.cidade {
    font-size: 130px;
    font-family: SofiaRegular;
    color: #696969;
}

.dataAtual {
    /* position: fixed;
    top: 400px;
    right: 135px; */
    font-size: 25px;
    font-family: Sofia;
    color: #696969;
    /* z-index: 999; */
}

#horaAtual {
    position: fixed;
    top: 665px;
    right: 673px;
    font-size: 20px;
    font-family: Sofia;
    color: #696969;
    z-index: 999;
}


.quadradoCinza {
    display: flex;
    justify-content: space-around;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #D9D9D9;
    width: 88.5vh;
    height: 100%;
    color: #696969;
}

.tempoquadrado {
    color: white;
}

.quadradoVento {
    margin-top: 18px;
    margin-left: 6.6px;
    width: 35vh;
    height: 43vh;
    border-radius: 50px;
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 12px;
}

.quadradoClima {

    justify-content: center;
    margin-top: 25px;
    margin-left: 6, 6px;
    width: 35vh;
    height: 43vh;
    border-radius: 50px;
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 12px;
}

.quadradoUmidade {
    margin-top: 18px;
    /*     margin-left: px;
 */
    width: 35vh;
    height: 43vh;
    border-radius: 50px;
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 12px;
}

.quadradoData {
    margin-top: 25px;
    margin-left: 6.6px;
    width: 35vh;
    height: 43vh;
    border-radius: 50px;
    background-color: #FAFAFA;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 12px;
}


#vento,
#clima,
#umidade,
#temperatura2 {
    font-size: 30px;
    margin-top: 0;
    padding-top: 25px;
    font-family: Sofia;
    color: #696969;
}


.quadrados img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 32px;
}

.quadrados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen {}