@font-face {
    font-family: Sofia;
    src: local(Sofia), url(./fonts/Fontspring-DEMO-SofiaProSoftReg.otf);
}

body {
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: Sofia;
    color: #696969;
}

.quadradoFundo {
    margin: 22.75px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    width: 205vh;
    height: 95vh;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: Sofia;
    color: #696969;
}

.quadradoBranco {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #FAFAFA;
    width: 122.5vh;
    height: 100%;
    font-family: Sofia;
    color: #696969;
}

.formClima {
    display: flex;
    align-items: center;
    font-family: Sofia;
    color: #696969;
}

#cityInput {
    background: url("img/pesquisa-de-lupa.png") no-repeat right / 11px;
    background-position: calc(100% - 9px) center;
    background-color: transparent;
    border-radius: 15px;
    height: 22px;
    width: 500px;
    padding-left: 8px;
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    font-family: Sofia;
    color: #696969;
}

#consultarBotao {
    display: none;
}

.quadradoCinza {
    display: flex;
    justify-content: space-around;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #D9D9D9;
    width: 88.5vh;
    height: 100%;
    font-family: Sofia;
    color: #696969;
}

.tempoquadrado {
    color: white;
}

.quadradoVento {
    margin-top: 18px;
    margin-left: 6, 6px;
    width: 35vh;
    height: 43vh;
    border-radius: 50px;
    background-color: #FAFAFA;
    font-family: Sofia;
    color: #696969;
}

.quadradoClima {

    justify-content: center;
    margin-top: 25px;
    margin-left: 6, 6px;
    width: 35vh;
    height: 43vh;
    border-radius: 50px;
    background-color: #FAFAFA;
    font-family: Sofia;
    color: #696969;
}

.quadradoUmidade {
    margin-top: 18px;
    margin-left: px;
    width: 35vh;
    height: 43vh;
    border-radius: 50px;
    background-color: #FAFAFA;
    font-family: Sofia;
    color: #696969;
}

.quadradoTemperatura {
    margin-top: 25px;
    margin-left: 6, 6px;
    width: 35vh;
    height: 43vh;
    border-radius: 50px;
    background-color: #FAFAFA;
    color: black;
    font-family: Sofia;
    color: #696969;
}